@font-face {
  font-family: 'Hepta';
  src: url("/static/Hepta.ttf");
}

@font-face {
  font-family: 'SaigonSansRegular';
  src: url("SaigonSansRegular.ttf");
}

@font-face {
  font-family: "bolder";
  src: url("/static/SharpGroteskMedium.woff2");
}

@font-face {
  font-family: 'SaigonSansBlack';
  src: url("SaigonSansBlack.ttf");
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root{
  --largeur-contenu: calc(50% - (100% - 1440px));
}

body {
	margin: 0;
	font-family: 'SaigonSansRegular';
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}


/* Les Grandes Tailles */

h3{
  font-family: "bolder";
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  font-family: "bolder";
}

/* Fin des grandes tailles */

.page-title {
  background-color: rgb(213, 213, 213);
  font-family: "bolder";
	font-size: 50px;
	line-height: 1;
	color: rgb(28, 42, 98);
	font-weight: bolder;
	margin-bottom: 10px;
  margin: 0;
  padding: 30px;
}

.content {
	position: relative;
	max-width: var(--largeur-contenu);
	margin: 0 auto;
	top: 30px;
}

.bjr {
	font-size: 130%;
  font-weight: 800;
  font-family: "bolder";
}

.tourne{
  animation: spin 1s infinite;
}

/* .box était .card */
.box {
	padding: 10px;
	margin-top: 30px;
  position: relative;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: .25rem;
  font-size: 110%;
}

.box-title{
  padding-bottom: 2px;
  border-bottom: solid 1px rgb(184, 184, 184);
}

label{
  display: inline-block;
  margin-bottom: 5px;
}

small{
  color: #6c757d;
  margin: 5px;
  font-size: 80%;
}

input.into {
	display: block;
	color: #181c32;
	background-color: #f5f8fa;
	border: solid 1px transparent;
	border-radius: 7px;
	padding: 7px;
	padding-left: 10px;
	font-size: 110%;
	width: 100%;
	box-sizing: border-box;
}

.explique{
  color: #6c757d !important;
}

/* Les Boutons */

.btn{
  margin-top: 10px;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.neutre{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.super{
  box-shadow: inset 0 0 0 2px #105bd8;
  color: #105bd8;
  background-color: #ffffff;
}

.submit{
	cursor: pointer;
	width: 100%;
	margin-top: 10px;
	font-size: 100%;
	font-weight: 500;
	color: rgb(252, 252, 252);
	background-color: rgb(241, 148, 8);
	padding: 10px;
	border: none;
	border-radius: 7px;
}

.submit:hover{
  background-color: rgb(224, 136, 3);
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.invisible{
  border: none;
  background-color: inherit;
  cursor: pointer;
}


.supprimer{
  color: #fff;
  background-color: #d1383d ;
  border-color: transparent;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  border: 1px solid transparent;
  position: relative;
display: inline-block;
padding: .8em;
border-radius: 3px;
outline: 0;
font-weight: 400;
font-size: 90%;
line-height: 1.15384615;
text-align: center;
text-decoration: none;
cursor: pointer;
user-select: none;
}


.supprimer:hover{
  box-shadow: none;
}

.standard{
  color: #fff;
  background-color: #3f7ddf ;
  border-color: transparent;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  border: 1px solid transparent;
  position: relative;
display: inline-block;
padding: .8em;
border-radius: 3px;
outline: 0;
font-weight: 400;
font-size: 90%;
line-height: 1.15384615;
text-align: center;
text-decoration: none;
cursor: pointer;
user-select: none;
}

.simple{
  color: #fff;
  background-color: rgb(241, 148, 8); 
  border-color: transparent;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  border: 1px solid transparent;
  position: relative;
display: inline-block;
padding: .8em;
border-radius: 3px;
outline: 0;
font-weight: 400;
font-size: 90%;
line-height: 1.15384615;
text-align: center;
text-decoration: none;
cursor: pointer;
user-select: none;
}

/* Fin des boutons */


.flash-message{
  background-color: #cfe7ff;
  color: #272c31;
  border-color: rgba(3, 65, 136, 0.2);
  position: relative;
  padding: 10px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.under-title{
  top: 20px;
}

a{
  color: #0088cc;
text-decoration: none;
}

.iconne{
  margin: 0%;
  padding: 0%;
  vertical-align: -6px;
  margin-left: 5px;
}

.infos-small{
  color: rgb(65, 65, 65);
  font-size: 70%;
  float: right;
}
.message{
  background-color: rgb(255, 230, 5);
  color: black;
  position: relative;
  margin: auto;
  width: fit-content;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border:solid 1px rgb(255, 197, 5);
}

.success{
  color: green;
}

.sess-info:hover{
  transform: translate3d(0, 6px, 0);
  transition-duration: 350ms;
  transition-property: opacity,transform,box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  transform: translateY(-1px);
}

.radio-btn{
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}


.merci{
  text-align: center;
  background-color: #72c542;
  color: #2b4652;
  padding: 10px;
}


.margined{
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
}

.not-active{
  color: #9b9b9b;
  transition: color .2s;
}

.not-active:hover{
  color: #494949;
  transition: color .2s;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
  color: rgb(68, 68, 68);
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 200;
  color: rgb(32, 32, 32);
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

ul{
  padding: 0;
  margin: 0 0 10px 25px;
  display: flex;
  justify-content: space-between;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li, .nav-pills > li {
  float: left;
}

li {
  line-height: 20px;
}

.nav {
  list-style: none;
}

.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  color: #555555;
  font-weight: bold;
  text-align: center;
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

    
a.animated{
  border-bottom: solid 1px rgb(160, 160, 160);
  border-left: solid 1px rgb(160, 160, 160);
  border-right: solid 1px rgb(160, 160, 160);
  border-radius: 7px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

a.btn:hover{
  text-decoration: underline;
  color: #1f00cc ;
}

.active{
  color: gray;
  
}

.animated:hover{
  animation: bgup 1s;
}


.lil-title{
  background-color: rgb(203, 226, 252);
  color: rgb(235, 131, 12);
  margin-top: 0% !important;
  padding: 5px;
  margin-bottom: 9px;
  padding-left: 50px;
}

.acc-title{
  color:rgb(27, 31, 35);
  font-family: 'Poppins';
	font-size: 50px;
	line-height: 1;
	font-weight: bolder;
	margin-bottom: 10px;
  margin: 0;
  padding: 30px;
}

.copier{
  font-weight: 700;
  color: #105bd8;
  background-color: white;
  border: solid 3px #0645b3;
  border-radius: 5px;
  font-size: 100%;
  cursor: pointer;
}