<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VEL &middot; Compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page de votre compte de vote en ligne">
    <meta name="author" content="VEL">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

  <body>
    <h3 class="lil-title" style="color: inherit;"><a href="/">VEL</a></h3>
    <div class="total">
      <ul class="navig">
        <li ><a class="not-active" href="/">Accueil <svg style="vertical-align: -1px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.5 14.25c0 .138.112.25.25.25H4v-1.25a.75.75 0 01.75-.75h2.5a.75.75 0 01.75.75v1.25h2.25a.25.25 0 00.25-.25V1.75a.25.25 0 00-.25-.25h-8.5a.25.25 0 00-.25.25v12.5zM1.75 16A1.75 1.75 0 010 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 00.25-.25V8.285a.25.25 0 00-.111-.208l-1.055-.703a.75.75 0 11.832-1.248l1.055.703c.487.325.779.871.779 1.456v5.965A1.75 1.75 0 0114.25 16h-3.5a.75.75 0 01-.197-.026c-.099.017-.2.026-.303.026h-3a.75.75 0 01-.75-.75V14h-1v1.25a.75.75 0 01-.75.75h-3zM3 3.75A.75.75 0 013.75 3h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 3.75zM3.75 6a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM3 9.75A.75.75 0 013.75 9h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 9.75zM7.75 9a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM7 6.75A.75.75 0 017.75 6h.5a.75.75 0 010 1.5h-.5A.75.75 0 017 6.75zM7.75 3a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5z"></path></svg></a></li>
        <li><a class="not-active" href="/logout">Déconnection <svg style="vertical-align: -1px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 010 1.5h-2.5a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 010 1.5h-2.5A1.75 1.75 0 012 13.25V2.75zm10.44 4.5H6.75a.75.75 0 000 1.5h5.69l-1.97 1.97a.75.75 0 101.06 1.06l3.25-3.25a.75.75 0 000-1.06l-3.25-3.25a.75.75 0 10-1.06 1.06l1.97 1.97z"></path></svg></a></li>
        <li ><a class="not-active" href="/sessions">Sessions <svg style="vertical-align: -1px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z"></path></svg></a></li>
        <li ><a class="not-active" href="/new-session">Nouvelle <svg aria-hidden="true" class="svg-icon iconPlusSm native js-svg" width="14" height="14" viewBox="0 0 14 14"><path d="M8 2H6v4H2v2h4v4h2V8h4V6H8V2z"></path></svg></a></li>
        <li ><a class="not-active" href="/project">Projet <svg style="vertical-align: -1px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path></svg></a></li>
      </ul>
      <div class="content">
        <h1 class="typed">Bonjour, {{name}} <svg width="35" height="35" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="100%" xmlns:vectornator="http://vectornator.io" version="1.1" viewBox="0 0 48 48">
          <g>
            <path d="M37.96+1.57C38.63+1.23+39.46+1.5+39.8+2.17L45.22+12.92C45.56+13.5994+45.2847+14.4257+44.6052+14.7654C43.9257+15.1052+43.0995+14.8296+42.76+14.15L37.35+3.41C37.01+2.74+37.28+1.91+37.95+1.57L37.96+1.57ZM34.75+7.47C35.44+7.16+36.25+7.47+36.56+8.16L38.88+13.31C39.1917+14.0003+38.885+14.8126+38.1948+15.1246C37.5046+15.4365+36.6922+15.1301+36.38+14.44L34.06+9.3C33.75+8.6+34.06+7.8+34.75+7.48L34.75+7.47ZM6.87+35.3C7.11897+35.0342+7.46352+34.8785+7.82754+34.8672C8.19156+34.8559+8.54508+34.9901+8.81+35.24L13.45+39.63C14.0023+40.1519+14.0269+41.0227+13.505+41.575C12.9831+42.1273+12.1123+42.1519+11.56+41.63L6.92+37.24C6.65557+36.9897+6.50166+36.6444+6.49228+36.2804C6.4829+35.9164+6.61881+35.5636+6.87+35.3ZM1.66+37.68C1.90897+37.4142+2.25352+37.2585+2.61754+37.2472C2.98156+37.2359+3.33508+37.3701+3.6+37.62L11.94+45.44C12.4923+45.9591+12.5191+46.8277+12+47.38C11.4809+47.9323+10.6123+47.9591+10.06+47.44L1.72+39.63C1.45114+39.3807+1.29343+39.034+1.28216+38.6675C1.27088+38.3011+1.40698+37.9454+1.66+37.68ZM16.38+36.93C19.6+41.03+24+46.64+30.31+46.64C32.15+46.64+34.05+46.14+35.96+45.17C41.67+42.25+42.93+38.21+44.51+33.1L44.79+32.2C46.25+27.53+47.23+23.8+47.49+22.76C48.05+20.96+46.96+19.12+45.06+18.6C44.1574+18.3547+43.1961+18.4508+42.36+18.87C43.0016+18.6713+43.6884+18.6713+44.33+18.87L42.51+25.14C42.4768+25.2524+42.377+25.3322+42.26+25.34C42.13+25.3+42.03+25.27+41.99+25.17L28.18+4.31C27.28+2.79+25.56+2.26+24.13+2.99C22.61+3.77+22.28+5.04+23.13+6.89C24+8.76+28.15+20.19+28.84+22.19C28.9+22.35+28.84+22.47+28.72+22.54C28.54+22.61+28.42+22.54+28.35+22.44L17.9+5.56C17.1107+4.24271+15.4312+3.76914+14.07+4.48C13.4+4.82+12.94+5.38+12.75+6.04C12.5703+6.72607+12.6787+7.45576+13.05+8.06L22.75+24.61C22.82+24.73+22.78+24.87+22.66+24.95C22.47+25.05+22.38+24.99+22.29+24.89L12.39+12.73C11.84+12.09+10.94+11.33+9.74+11.33C9.26+11.33+8.79+11.45+8.32+11.68C7.73+11.98+7.35+12.44+7.22+13.01C7.04+13.72+7.28+14.56+7.86+15.31C8.67+16.37+16.52+27.3+18.08+29.48L18.13+29.54C18.2+29.64+18.18+29.79+18.08+29.87C17.9756+29.953+17.8289+29.9571+17.72+29.88L8.06+22.31C7.38371+21.7437+6.54102+21.4136+5.66+21.37C5.23+21.37+4.82+21.47+4.43+21.67C4.08+21.84+3.81+22.25+3.7+22.75C3.59+23.29+3.68+23.84+3.95+24.31C4.52+25.28+6.42+26.99+8.44+28.8C10.68+30.8+13.22+33.08+15.05+35.26C15.44+35.72+15.85+36.24+16.39+36.93L16.38+36.93Z" opacity="0.2" fill="#ff3c05"/>
            <path d="M11.76+34.62L12.25+35.2L14.31+37.76L14.93+38.5C19.48+43.97+22.86+46.35+27.8+46.35C29.8+46.35+31.85+45.82+33.9+44.77C38.56+42.39+40.48+39.67+42.37+33.96L42.95+32.1L43.38+30.7C44.43+27.3+45.24+24.48+45.95+21.72C46.2742+20.5905+46.122+19.3776+45.5289+18.3632C44.9357+17.3488+43.9533+16.6214+42.81+16.35L42.6+16.29C40.3044+15.7428+37.9671+17.0217+37.19+19.25L35.92+23.64L26.58+2.6L26.53+2.5C25.36+0.55+23.08-0.18+21.16+0.8C19.19+1.8+18.68+3.59+19.61+5.79L19.76+6.11C20.16+7.01+21.32+10.08+22.51+13.29L23.04+14.73L16.23+3.73C15.18+1.97+13+1.5+11.2+2.38L11.02+2.46C9.25+3.41+8.54+5.38+9.66+7.29L14.55+15.62L10.64+10.82C9.82425+9.73374+8.55791+9.07848+7.2+9.04C4.13+9.04+2.73+12.09+4.42+14.49L6.12+16.82L9.63+21.68L11.77+24.65L6.14+20.24C5.29369+19.5226+4.22896+19.1136+3.12+19.08C3.67291+18.4276+4.48481+18.0514+5.34+18.0514C6.19519+18.0514+7.00709+18.4276+7.56+19.08L7.67+19.26C8.17+20.03+9.05+20.92+10.92+22.63L14.42+25.79L15.12+26.44C16.4036+27.6162+17.619+28.865+18.76+30.18L11.76+34.62ZM15.86+36.5L13.97+34.15L13.29+33.33C12.6782+32.6047+12.0377+31.9041+11.37+31.23L10.78+30.66C10.28+30.16+9.74+29.65+9.14+29.09L7.25+27.39L5.51+25.81C3.52+24.01+2.64+23.11+2.29+22.51C1.88+21.81+2.3+21.08+3.13+21.08C3.71+21.08+4.33+21.36+4.91+21.81L14.58+29.38C15.13+29.82+15.89+29.73+16.33+29.21C16.7+28.75+16.73+28.08+16.35+27.59L7.1+14.72L6.14+13.42C5.26+12.27+5.8+11.04+7.22+11.04C7.9+11.04+8.55+11.43+9.11+12.09L19+24.24C19.43+24.75+20.12+24.82+20.64+24.52C21.21+24.18+21.46+23.45+21.09+22.82L11.39+6.27C10.86+5.37+11.16+4.6+12.06+4.17C13+3.72+14.02+3.94+14.51+4.78L25+21.68C25.8+22.98+27.77+22.01+27.28+20.58L26.71+18.94C25.076+14.3203+23.3523+9.73274+21.54+5.18C20.9+3.79+21.07+3.1+22.08+2.58L22.23+2.52C23.1+2.16+24.1+2.48+24.73+3.38L24.79+3.48L34.9+26.26C35.37+27.32+36.97+27.23+37.3+26.1L39.11+19.83C39.49+18.63+40.95+17.91+42.29+18.28C43.66+18.65+44.42+19.94+44.03+21.18L43.74+22.28C43.16+24.51+42.5+26.81+41.69+29.45L40.73+32.55L40.48+33.31C38.74+38.58+37.1+40.9+33+43C31.3998+43.8613+29.617+44.3276+27.8+44.36C23.45+44.36+20.39+42.07+15.87+36.51L15.86+36.5Z" opacity="1" fill="#09348d"/>
            </g>
        </svg>
        </h1>
        <br>
        <p style="text-align: center;" >
            On est ravis de vous revoir, ça fait un bail !</p>

        <p style="text-align: center;"><h3>On vous réexplique vite fait : </h3>
          Sur le menu si dessus vous pouvez voir les actions que vous pouvez effectuer.
          Vous pouvez voir les résultats de vos sessions en cours sur l'onglet « Sessions » ou en créer une nouvelle dans <span style="display: block;">« Nouvelle ».</span>
        </p>
        <p>Besoin d'aide ? n'hésitez surtout pas à faire un tour sur la documentation <a href="/project">plus ou moins ici</a> ou sur l'onglet « projet » en haut à droite.</p>
      </div>
    </div>
  </body>

  <style>

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typed{
  text-align: center;
  position: relative;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  max-width: 100%;
  animation: 
    typing 3.5s steps(40, end);
}

    .navig{
      display: flex;
      list-style-type: none;
      margin: 0% !important;
      padding: 0;
      border-bottom: 1px solid rgba(0,0,0,.15);
      background-color: #fff;
      color: #666;
      z-index: 5;
      min-width: 464px;
      white-space: nowrap;
      overflow: auto hidden;
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    li{
      margin-top: 0%;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    li:hover{
      background-color: rgb(240, 240, 240) ;
      transition: top .1s cubic-bezier(.5,0,0,1);
    }

  </style>
</html>
<!-- <h3 class="lil-title">Vote En Ligne</h3>
<div class="container">

  <div class="masthead">
    <div class="">
      <div class="">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="animated"><a  class="animated" href="/">Accueil</a></li>
            <li class="animated"><a class="animated" href="/logout">Déconnection</a></li>
            <li class="animated"><a class="animated" href="#">Sessions</a></li>
            <li class="animated"><a class="animated" href="/new-session">Nouvelle</a></li>
            <li class="animated"><a class="animated" href="/project">Projet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1 class="acc-title">Bonjour {{name}}!</h1>
    <p class="lead">Bonjour, vous pouvez ici retrouvez vos sessions de vote en cours, voir leurs résultats, les fermer un fois finis et en créer d'autre si besoin. Nous sommes heureux de vous accueillir ici et de pouvoir vous rendre service, de manière entièrement gratuite.</p>
    <a class="submit" href="/new-session">Créer une session <img src="{{url_for('static',filename='new.svg')}}" class="iconne" alt="" srcset=""> </a>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span4">
      <h2>À Propos</h2>
      <p><b>Les Sessions</b> de vote vous permettent de pouvoir voter sur le site. Elles sont uniques grâce à leur code, «<span style="font-style: italic;">token</span>» grâce auquel vous pouvez vous connecter à cette dernière et la partager comme il vous semble bon. </p>
      <p><a class="btn" href="project#session">Voir plus sur les sessions &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Vote</h2>
      <p>Pour garantir une possibilité à tous les participants de voter, ils se voient artibué des pseudonymes afin que leur choix personel soit bien représenté. Ils peuvent être désignés comme éligibles où non.</p>
      <p><a class="btn" href="/project#vote">Voir plus sur les votes &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Configuration</h2>
      <p>Lors de la création de votre session, par défault, les personnes ne sont pas éligibles. Vous pouvez les définir comme tel et voir les résultats 24 heures sur 24 de la session de vote.</p>
      <p><a class="btn" href="/project#config">Voir plus sur la configuration  &raquo;</a></p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; VoteEnLigne 2021</p>
  </div>

</div>  -->

