<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/saigon-sans" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">    <title>VEL &middot; Accueil</title>
</head>
<body>
    <div>
        <h1 class="page-title">Vote en ligne</h1>
    </div>
    <div class="content under-title" >
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="flasher" class="flash-message"><svg class="iconne" fill="red" height="20" width="20"><path fill-rule="evenodd" d="M8 12a1 1 0 110 2 1 1 0 010-2zm.501-10c.512 0 1.042.37 1.173.859l.023.115S10 2.982 9.5 6s-1.2 5.043-1.2 5.043c-.166.528-.437.532-.6 0 0 0-.7-2.025-1.2-5.043-.5-3.018-.197-3.026-.197-3.026.109-.538.64-.974 1.196-.974h1.002z"></path></svg> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="para">
            <b class="bjr">Bonjour et bienvenue</b> sur note site de vote en ligne.<br>Nous vous offrons un service facile de sessions de vote à 
            laquelle peuvent participé les personnes de votre choix. Vous pouvez aussi avoir accès aux résultats 24 heures sur 24. <br>
            Plus de précisions sur le projet VEL ? <a href="/project">Aller à la documentation</a>
        </div>
        <div class="box">
            <h3 class="box-title">Se connecter avec un token: <i class="bi bi-upc-scan" style="vertical-align: -5px;"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
              </svg></i></h3>
            <div>
                <label for="exampleInputEmail1">Token de session</label>
                <input type="text" name="direction" id="direction" class="into" placeholder="token">
                <small id="emailHelp" class="form-text text-muted">Entrez ci dessus le code de la session de vote à laquelle vous voulez acceder.</small>
            </div>
            <div>
                <button onclick="go()" class="btn submit">Se connecter à cette session de vote <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="16" height="16" fill="white"><path fill-rule="evenodd" d="M10.276 3.09a.25.25 0 01.192-.09h.782a.25.25 0 01.25.25v8.5a.25.25 0 01-.25.25h-.782a.25.25 0 01-.192-.09l-.95-1.14a.75.75 0 00-.483-.264l-3.124-.39a.25.25 0 01-.219-.249V5.133a.25.25 0 01.219-.248l3.124-.39a.75.75 0 00.483-.265l.95-1.14zM4 8v1.867a1.75 1.75 0 001.533 1.737l2.83.354.761.912c.332.4.825.63 1.344.63h.782A1.75 1.75 0 0013 11.75V11h2.25a.75.75 0 000-1.5H13v-4h2.25a.75.75 0 000-1.5H13v-.75a1.75 1.75 0 00-1.75-1.75h-.782c-.519 0-1.012.23-1.344.63l-.76.913-2.831.353A1.75 1.75 0 004 5.133V6.5H2.5A2.5 2.5 0 000 9v5.25a.75.75 0 001.5 0V9a1 1 0 011-1H4z"></path></svg>
                </button>
            </div>
            
        </div>
        <div class="box">
            <h3 class="box-title">Se connecter avec son compte:</h3>
            <a href="/login">Se connecter avec un compte</a> / 
            <a href="/create">Créer un compte</a>
        </div>  
    </div>
    <div class="footer">
        <div class="case">
          <div class="case-titre">Fait par Martin C.</div>
          <div class="case-plus">Étudiant en informatique</div>
          <div class="case-liens">
            <span onclick="devoil('email-addr')" class="case-btn"><svg xmlns="http://www.w3.org/2000/svg" fill="#79589f" style="vertical-align: -2px;" width="16" height="16" viewBox="0 0 16 16"><path d="M13 2H3C1.3 2 0 3.3 0 5v6c0 1.7 1.3 3 3 3h10c1.7 0 3-1.3 3-3V5c0-1.7-1.3-3-3-3zm0 2c.1 0 .2 0 .3.1h-.1L8 7.9 2.8 4.1h-.1c.1-.1.2-.1.3-.1h10zm1 7c0 .6-.4 1-1 1H3c-.6 0-1-.4-1-1V4.8c0 .1.1.1.2.1l5.5 4c.1.1.2.1.3.1.1 0 .2 0 .3-.1l5.5-4c.1 0 .1-.1.1-.2.1.1.1.2.1.3v6z"/></svg> 
                Email
                <a href="mailto:martinsites@protonmail.com" id="email-addr" style="display: none;">martinsites@protonmail.com</a>
            </span>
            <span onclick="devoil('site-link')" class="case-btn">
                <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: -2px;" fill="#79589f" viewBox="1 1 16 16" height="16"  width="16">
                <title>S GlobeExit 18 N</title>
                <path class="a" d="M3.573,6.8845C3.05,4.991,4.4,4.176,4.267,2.558A8.03648,8.03648,0,0,0,1,9c0,4.556,3.9715,7.271,6.777,7.866a3.44943,3.44943,0,0,0,.523.084c1-2.55-.8865-5.3945-2.1315-7.247C5.131,8.159,4.189,9.113,3.573,6.8845Z"/>
                <path class="a" d="M14.437,10.65a.25.25,0,0,0-.437.166v2.0225H10.5a.5.5,0,0,0-.5.5v2a.5.5,0,0,0,.5.5H14V17.75a.25.25,0,0,0,.437.166L18,14.3405Z"/>
                <path class="a" d="M16.3905,9.5155c-.8055-.3065-1.496.7375-1.557-2.082a2.883,2.883,0,0,1,.833-2,1.55006,1.55006,0,0,1,.365-.1745c-.096-.1745-.2-.342-.31-.509-.0185.0095-.035.022-.0545.031-.625.2915-.7115.3775-1,0a.788.788,0,0,1,.1735-1.163A7.992,7.992,0,0,0,9.013,1.0075c1.0135.014,2.223.765,1.6065,1.9645.093-.1905-2.0135-.645-2.3-.645-.386,0,.7875-1.4445.68-1.3195A8.04239,8.04239,0,0,0,5.692,1.719c.547.353,1.1555.23,1.772.382a1.50711,1.50711,0,0,1,.55.226,1.85559,1.85559,0,0,0-.55-.226c-.909-.1055.44,2.3885.3885,2.057a1.15173,1.15173,0,0,1,2.2825-.0735A1.871,1.871,0,0,1,9.7165,5.217c-.7055.927-.85,2.577-1.2,2.155-3.2955-1.35-2.9325.4355-1.85,1.629,1.732,1.91.853.196,3.121,1.196C11,10.731,12.37,10.9945,13,11.289v-.471a1.25,1.25,0,0,1,2.1835-.831l1.4095,1.4585a7.7639,7.7639,0,0,0,.374-1.754A1.19655,1.19655,0,0,1,16.3905,9.5155Z"/>
              </svg>
                Site
                <a href="http://weberama.herokuapp.com" target="_blank" id="site-link" style="display: none;">weberama.herokuapp.com</a>
            </span>
          </div>
        </div>
    </div>
</body>
<script>
    function go(){
        var direction = document.getElementById("direction").value;
        console.log("Checking for token")
        document.location.href = `${window.origin}/session/${direction}`;
    }

    function del(){
        console.log("DELL")
        document.getElementById("flasher").style.display = 'none'
    }

    setTimeout(del,2000)
</script>
<style>


.content{
}

.case-btn{
    color: #79589f;
    border: solid 1px #a997bf;
    border-radius: 5px;
    font-size: 90%;
    margin: 5px;
    padding:4px;
    width: 200px;
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
    height: fit-content;
}

.case-titre{
    font-size: 110%;
    font-weight: 700;
}

.case-plus{
    font-size: 80%;
    color: #565d69 ;
}

.case-liens{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.case{
    background-color: rgb(247, 247, 247);
    margin-top: 60px;
    padding-top: 15px;
padding-bottom: 15px;
box-shadow: 0 0 0 1px rgba(89,105,129,0.1),0 1px 3px 0 rgba(89,105,129,0.1),0 1px 2px 0 rgba(0,0,0,0.05);
-webkit-box-align: center;
align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
display: flex;
border-radius: 6px;
box-sizing: border-box;
}
</style>

<script>
    function devoil(truc){
        if(document.getElementById(truc).style.display == "block"){
            document.getElementById(truc).style.display = 'none'
        }
        else{
            document.getElementById(truc).style.display = 'block'
        }
    }
</script>
</html>