<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <title>VEL &middot; Connection</title>
</head>
<body>
    <h1 class="page-title">Se connecter à VEL</h1>
    <div class="content" >
        <div class="box">
            <h3 class="box-title" >Connection:</h3>
            <div>
                <label for="exampleInputEmail1">Adresse couriel</label>
                <input type="text" name="email" class="into" id="email" aria-describedby="emailHelp" placeholder="Ex : exemple@email.com">
            </div>
            <div>
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" name="password" class="into" id="password" placeholder="Mot de passe">
            </div>
            <button onclick="submit()" class="submit">Se connecter<img src="{{url_for('static',filename='login.svg')}}" class="iconne" alt="" srcset=""></button>
            <div id="monret"></div>
        </div>
        <div class="box">
            <h3 class="box-title">Options:</h3>
            <a href="/">Retour</a> / 
            <a href="/create">Créer un compte</a>
        </div>
    </div>
</body>
<style>
    
</style>
<script src="{{url_for('static',filename='login.js')}}"></script>
</html>