<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>VEL &middot; Créer une session</title>
</head>
<body>
    <div>
        <h1 class="lil-title">Créer une session VEL</h1>
    </div>
    <div>
        <nav>
            <a class="margined not-active" href="/">Accueil</a>><a class="margined not-active" href="/compte">Compte</a>><a class="margined">Création</a>
        </nav>
    </div>
    <div class="content">
        <div id="intro" class="para">
            <h3>Bienvenue sur la page de création de session de vote.</h3>
            Ici, vous pouvez ajouter un titre et des participants à votre session. Une fois créée, vous pourrez voir les résultats à n'importe quel moment.
        </div>
        <br>
        Besoin d'aide ? <a href="/project">Aller à la documentation</a>
        <div class="box" id="formulaire">
            <h3 id="step" class="box-title">Première étape:</h3>
            <div style="margin-bottom: 20px;" id="title-div">
                <label for="titre">Titre</label>
                <input type="text" name="titre" id="titre" class="into" required placeholder="Titre">
            </div>
            <div id="nb-particip">
                <label for="">Nombre de participants:</label>
                <input class="into" type="number" name="pers" id="pers" placeholder="Ex: 7">
                <button class="btn submit" style="margin-top: 10px;" onclick="add_people()">Suivant<img src="{{url_for('static',filename='next.svg')}}" class="iconne" alt="" srcset=""> </button>
            </div>
            <div id="people" style="display: none;">

            </div>
            <div id="final" style="display: none;">
                <button onclick="go()" class="btn submit">Créer cette session <svg class="iconne" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path d="M3.5 3.75a.25.25 0 01.25-.25h13.5a.25.25 0 01.25.25v10a.75.75 0 001.5 0v-10A1.75 1.75 0 0017.25 2H3.75A1.75 1.75 0 002 3.75v16.5c0 .966.784 1.75 1.75 1.75h7a.75.75 0 000-1.5h-7a.25.25 0 01-.25-.25V3.75z"></path><path d="M6.25 7a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm-.75 4.75a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-4.5a.75.75 0 01-.75-.75zm16.28 4.53a.75.75 0 10-1.06-1.06l-4.97 4.97-1.97-1.97a.75.75 0 10-1.06 1.06l2.5 2.5a.75.75 0 001.06 0l5.5-5.5z"></path></svg></button>
            </div>
            <div id="monret">

            </div>
        </div>
        <div id="comp" class="card" style="display: none;"></div>
    </div>
</body>
<script src="{{url_for('static',filename='new_session.js')}}"></script>
<style>
    /* body{
        font-family: Poppins;
    }

    .inputs{
        margin: 7px;
        padding-bottom: 3px;
        border-bottom: dashed 1px gray;
    }

    h1{margin: 50px;}
    .card{
        padding: 10px;
        margin-top: 30px;
        position: relative;
    }
    button{
        width: 100%;
        opacity: 90%;
    }
    .content{
        position: relative;
        max-width: 50%;
        margin: 0 auto;
        top: 30px;
    }


    input.into{	
    display: block;
    color: #181c32;
    background-color: #f5f8fa;
    border: solid 1px #ebebeb;
    border-radius: 7px;
    padding: 7px;
    padding-left: 10px;
    font-size: 110%;
    width: 100%;
    box-sizing: border-box;
}

input.into:focus{
border-color: #8181b4;
outline: 0;
}

.bjr{
    font-size: 120%;
}

.page-title{
	font-size: 100px;
	line-height: 1;
	color: rgb(68, 68, 68);
    font-weight: 700;
    margin-bottom: 10px;
}


.message{
        margin-top: 10px;
        background-color: rgb(255, 230, 5);
        color: black;
        position: relative;
        margin: auto;
        width: fit-content;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 3px;
        border:solid 1px rgb(255, 197, 5);
    }

    .submit{
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 100%;
    font-weight: bold;
    color: rgb(252, 252, 252);
    background-color: rgb(235, 143, 6);
    padding: 10px;
    border: none;
    border-radius: 7px;
}

.success{
        color: green;
    } */
</style>
</html>