<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VEL &middot; Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page de votre compte de vote en ligne">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  </head>

  <body>
    <h3 class="lil-title">Vote En Ligne</h3>
    <div class="container">

      <div class="jumbotron">
        <h1>Documentation</h1>
        <p class="lead">Bienvenue sur la page de documentation. Ici, vous avoir accès à toutes les informations nécéssaires à la bonne utilisation de notre site et ses fonctionnalités.</p>
      </div>

      <div style="margin-top: 0%;">
          <ul>
              <li class="nav">
                  <a href="/">Accueil VEL</a>
              </li>
              <li class="nav">
                <a href="#sess">Sessions</a>
            </li>
            <li class="nav">
                <a href="#vote">Vote</a>
            </li>
            <li class="nav">
                <a href="#config">Configuration</a>
            </li>
          </ul>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2 id="sess">Les Sessions</h2>
          <p class="para">Les Sessions de vote vous permettent de pouvoir voter sur le site. Elles sont uniques grâce à leur code, «<span style="font-style: italic;">token</span>» grâce auquel vous pouvez vous connecter à cette dernière et la partager comme bon vous semble. À ce token sont liés des utilisateurs qui, liés à la session, peuvent y participer et voter.</p>
        <p class="para"><b>L'utilisation</b> de sessions est très simple. Soit l'administrateur partage le lien de la session, soit vous entrez le «token» dans la barre mise à disposition à l'accueil. Une fois  sur la page de la session, l'utilisateur n'a plus qu'a entrer son nom ou pseudonyme (selon le nom attribué par l'administrateur) puis à voter pour une des personnes affichés sur l'écran.</p>
        </div>
        <div class="span4">
          <h2 id="vote">Vote</h2>
          <p class="para">L'administrateur est en charge de l'attribution des noms de chaque participant au vote. Afin que tout le monde puisse exprimer son avis personel à son aise, il est nécessaire que chaqun est une identité à pars dans une session de vote. Il est donc du devoir de l'administrateur de donner à chaque participant un nom, formé du nom prénom du perticipant 
              ou bien d'un pseudonyme alors communiqué au participant en question.<br>Bien que chaque participant soit nommé afin de pouvoir participer au vote, ce dernier est annonyme et personne ne pourra savoir qui a voté pour qui.</p>
       </div>
        <div class="span4">
          <h2 id="config">Configuration</h2>
          <p>Lors de la création de session, l'administrateur doit donner un cnom à chaque participant. Il doit aussi définir si les participants sont éligibles ou non. Il peut aussi définir une date limite à laquelle les participants ne peuvent plus voter sur la session. L'administrateur peut aussi fermer la session afin de connaitre les résultats définitifs et de pouvoir
               les partager via un fichier téléchargeable. Malgré tout, il peut tout de même  acceder aux résultats à n'importe quel moment pour voir son évolution.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; VoteEnLigne 2021</p>
      </div>

    </div> 

  </body>
  <style type="text/css">

    .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
        color: rgb(0, 0, 0);
        font-family: "Source Serif Pro", "serif";
        font-weight: 400;
    }
    .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
        font-weight: 200;
        color: rgb(32, 32, 32);
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  
    
        </style>
</html>
