<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <title>VEL &middot; Session {{name[2]}}</title>
</head>
<body>
    <h1 class="page-title">Session de vote : <span style="color: rgb(255, 255, 255); float: right;">{{name[2]}}</span></h1>
    <div class="content under-title">
        <div class="merci" id="remerci" style="display:none;" >
            Nous vous remercions d'avoir participé à ce vote. <img src="{{url_for('static',filename='check.svg')}}" alt="" srcset="" class="iconne">
        </div>
        <a id="retour" style="display: none;" href="/">Retour accueil</a>
        <div style="display: none;" id="voting-place" class="box vote-list">
            <h3 id="name-voteur"></h3>
            <h3 class="box-title">Votez pour pour un candidat: </h3>
            <div id="form-candidats"></div>
        </div>


        <div class="box" id="enter-name">
            <h3 class="box-title">Voter en temps que:</h3>
            <input type="text" name="usr-name" class="into" id="name" placeholder="Mon nom">
            <small class="form-text text-muted">J'entre ici le nom d'utilisateur que l'organisateur m'a attibué pour voter.</small>
            <button onclick="get_name()" class="btn submit">Je vote <i class="bi bi-inbox" style="vertical-align: -3px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-inbox" viewBox="0 0 16 16">
                <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm9.954 5H10.45a2.5 2.5 0 0 1-4.9 0H1.066l.32 2.562a.5.5 0 0 0 .497.438h12.234a.5.5 0 0 0 .496-.438L14.933 9zM3.809 3.563A1.5 1.5 0 0 1 4.981 3h6.038a1.5 1.5 0 0 1 1.172.563l3.7 4.625a.5.5 0 0 1 .105.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"/>
              </svg></i></button>
        </div>

        <div class="box">
            <h3 class="box-title">Message : </h3>
            <p id="monret">
            </p>
        </div>
        <div class="box sess-info">
            <h3>Information session:</h3>
            <p>Nom: <span class="infos-small" id="infoname">{{name[2]}}</span></p>
            <p>Token: <span class="infos-small" id="infocode">{{name[1]}}</span></p>
        </div>
    </div>
</body>
<script src="{{url_for('static',filename='session.js')}}"></script>
</html>