<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/saigon-sans" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">    <title>VEL &middot; Mes Sessions</title>
</head>
<body>
    <div class="page-title">VEL Sessions</div>
    <div>
        <nav>
            <a class="margined not-active" href="/">Accueil</a>><a class="margined not-active" href="/compte">Compte</a>><a class="margined">Sessions</a>
        </nav>
    </div>
    <div class="">
    {% if len(result) > 0 %}
            {% for x in range(len(result)) %}
        <div class="row" id="table{{x}}">
            <div id="monret"></div>
            <div class="info-usr">
                <table>
                    <caption>Session : « {{result[x][0][2]}} »</caption>
                    <thead>
                        <tr class="head">
                            <th>Nom</th>
                            <th>Déjà voté ?</th>
                            <th>Éligible ?</th>
                            <th>Modifier</th>
                            <th>Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for y in range(len(result[x][1])) %}
                            <tr>
                                <td >
                                <span id="nom{{x}}&{{y}}">{{ result[x][1][y][0] }}</span>
                                </td>
                                <td class="icon-col">
                                    {% if result[x][1][y][1] == True %}
                                    Oui <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
                                    {% else %}
                                    Non <svg xmlns="http://www.w3.org/2000/svg"  fill="red" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
                                    {% endif %}
                                </td>
                                <td class="icon-col" id="etat{{x}}&{{y}}">
                                    {% if result[x][1][y][3] == True %}
                                    Oui <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
                                    {% else %}
                                    Non <svg xmlns="http://www.w3.org/2000/svg"  fill="red" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
                                    {% endif %}
                                </td>
                                <td class="icon-col">
                                    <button id="modif{{x}}&{{y}}" onclick="modif({{x}},{{y}})" class="invisible"><span ><svg style="background-color: #f3f3f3; border: solid 1px #cecece; border-radius: 5px; margin:0;" id="icons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" viewBox="0 0 100 100"><title>employee_job_position</title><path d="M65.3,51.5A14.25,14.25,0,1,0,79.5,65.8,14.32,14.32,0,0,0,65.3,51.5ZM67.8,67a3.09,3.09,0,0,1-1.1-.2l-5.4,5.4a1.71,1.71,0,0,1-1.1.5c-.5,0-.9-.1-1.1-.5a1.82,1.82,0,0,1,0-2.4l5.4-5.4a4.47,4.47,0,0,1,4-5.8,3.09,3.09,0,0,1,1.1.2c.2,0,.2.2.1.4l-2.5,2.4a.37.37,0,0,0,0,.6l1.6,1.6a.48.48,0,0,0,.7,0l2.4-2.4c.1-.1.5-.1.5.1a6.53,6.53,0,0,1,.2,1.1A4.47,4.47,0,0,1,67.8,67Z" fill="rgb(28, 42, 98)"/><circle cx="44.6" cy="36.1" r="16.1" fill="rgb(28, 42, 98)"/><path d="M48.9,79.7c2.7,0,1.2-1.9,1.2-1.9h0a19.58,19.58,0,0,1-2.5-20.1l.2-.4a1.17,1.17,0,0,0-.9-1.9h0a18.48,18.48,0,0,0-2.4-.1,24.54,24.54,0,0,0-24.2,21c0,1.2.4,3.5,4.2,3.5H48.4A1.75,1.75,0,0,1,48.9,79.7Z" fill="rgb(28, 42, 98)"/></svg></span> </button>
                                </td>
                                <td class="icon-col">
                                    <code class="badged">
                                        {% if voted[x][result[x][1][y][0]] %}
                                            {{voted[x][result[x][1][y][0]]}}</code>
                                        {% else %}
                                            0</code>
                                        {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="infos-sess box sess-info">
                <h3>Informations</h3>
                <p>Nom: <span class="infos-small" id="infoname{{x}}">{{result[x][0][2]}}</span></p>
                <p>Token: <span class="infos-small" id="infocode{{x}}"><code>{{result[x][0][1]}}</code></span></p>
                <h3>Options</h3>
                <p><button class="supprimer" onclick="supp({{x}})">Supprimer <svg aria-hidden="true"  width="16" height="16" fill="white" viewBox="0 0 18 18"><path d="M15 2a1 1 0 011 1v1H2V3a1 1 0 011-1h2a1 1 0 011-1h6a1 1 0 011 1h2zm0 3H3v10c0 1.1.9 2 2 2h8a2 2 0 002-2V5z"></path></svg></button>
                    <a class="standard" data-tooltip="Message de pro : faites clique droit pour ouvrir la session dans un nouvel onglet" href="/session/{{result[x][0][1]}}">Y aller <svg aria-hidden="true" class="svg-icon iconShare native js-svg" width="16" height="16" fill="white" viewBox="0 0 18 18"><path d="M3 1h5v2H3v12h12v-5h2v5a2 2 0 01-2 2H3a2 2 0 01-2-2V3c0-1.1.9-2 2-2zm14 0h-7v2h3.5L6 10.5 7.5 12 15 4.5V8h2V1z"></path></svg></a>
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="content">
            <a href="/new-session" style="width: 100%;" class="simple">Nouvelle session   <svg aria-hidden="true" fill="white" width="14" height="14" viewBox="0 0 14 14"><path d="M8 2H6v4H2v2h4v4h2V8h4V6H8V2z"></path></svg></a>
        </div>
    {% else %}
    <div class="infos-sess box content">
        <h3 style="color: rgb(184, 0, 0);"><svg style="background-color: rgb(199, 70, 70); border-radius: 5px; vertical-align: -2px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="30" height="30" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
       <path fill="#FFFFFF" d="M55.9,49.3l22.7-22.8c0.8-0.8,0.8-2,0-2.9l-2.7-2.9c-0.8-0.8-2-0.8-2.9,0L50.1,43.6c-0.5,0.5-1.4,0.5-1.9,0
           l-22.8-23c-0.8-0.8-2-0.8-2.9,0l-2.9,2.9c-0.8,0.8-0.8,2,0,2.9l22.8,22.8c0.5,0.5,0.5,1.4,0,1.9L19.6,74c-0.8,0.8-0.8,2,0,2.9
           l2.9,2.9c0.8,0.8,2,0.8,2.9,0l22.8-22.8c0.5-0.5,1.4-0.5,1.9,0l22.6,22.6c0.8,0.8,2,0.8,2.9,0l2.9-2.9c0.8-0.8,0.8-2,0-2.9
           L55.9,51.2C55.3,50.6,55.3,49.8,55.9,49.3z"/>
       </svg>
          Aucune Session en cours...</h3>
        <p>Nom: <code class="infos-small" id="infoname{{x}}">Aucun</code></p>
        <p>Token: <code class="infos-small" id="infocode{{x}}">Aucun</code></p>
        <h3>Options :</h3>
        <p><a class="submit" href="/new-session">Créer une session  <svg aria-hidden="true" fill="white" width="14" height="14" viewBox="0 0 14 14"><path d="M8 2H6v4H2v2h4v4h2V8h4V6H8V2z"></path></svg></a></p>
    </div>
    {% endif %}

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close"><svg style="background-color: #f3f3f3; border: solid 1px #cecece; border-radius: 5px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="30" height="30" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
       <path fill="rgb(28, 42, 98)" d="M31,25.4L44,12.3c0.6-0.6,0.6-1.5,0-2.1L42,8.1c-0.6-0.6-1.5-0.6-2.1,0L26.8,21.2c-0.4,0.4-1,0.4-1.4,0
           L12.3,8c-0.6-0.6-1.5-0.6-2.1,0l-2.1,2.1c-0.6,0.6-0.6,1.5,0,2.1l13.1,13.1c0.4,0.4,0.4,1,0,1.4L8,39.9c-0.6,0.6-0.6,1.5,0,2.1
           l2.1,2.1c0.6,0.6,1.5,0.6,2.1,0L25.3,31c0.4-0.4,1-0.4,1.4,0l13.1,13.1c0.6,0.6,1.5,0.6,2.1,0l2.1-2.1c0.6-0.6,0.6-1.5,0-2.1
           L31,26.8C30.6,26.4,30.6,25.8,31,25.4z"/>
       </svg>
       </span>
          <p id="form-modif"></p>
        </div>
      
      </div>
</div>
</body>
<style>
    caption {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	text-align: left;
}

table {
	border-collapse: collapse;
border-top: 1px solid #dddbda;
border-bottom: 1px solid #dddbda;
background-color: #fff;
font-size: inherit;
margin: 20px;

}

tr.head{
    background-color: #fafaf9;
    color: rgb(28, 42, 98);
    font-weight: bold;
    font-size: 110%;
    border-top: solid 1px #3d3c3a;
    border-bottom: solid 1px #3d3c3a;
}

th, td{
padding: .45rem .7rem;
font-weight: 700;
line-height: normal;
margin: 0;
border: solid 1px #333;

}

td{
    font-weight: normal;
}

.icon-col{
    text-align: center;
}

svg{
    vertical-align: -2px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 5px;
    padding: 20px;
}


.infos-sess{
    position: relative;
    width: 500px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 3px;
  width: 80%;
}

.close {
  color: rgb(28, 42, 98);
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.badged{
    border-color: transparent;
background-color: #e0e0e0;
color: rgb(44, 44, 44);
font-size: 110%;
display: inline-flex;
align-content: center;
justify-content: center;
min-width: 0;
padding: 0 6px;
border-width: 1px;
border-style: solid;
border-radius: 3px;
font-size: 12px;
font-weight: 400;
line-height: 2;
text-decoration: none;
vertical-align: middle;
white-space: nowrap;
}
</style>
<script src="{{url_for('static',filename='sess_info.js')}}"></script>